*.java.hsp
*.sonarj
*.sw*
.DS_Store
.settings
.checkstyle
.springBeans
integration-repo
ivy-cache
jxl.log
jmx.log
derby.log
.gradle
argfile*
activemq-data/

classes/
/build
buildSrc/build
/spring-*/build
/src/asciidoc/build
target/

# Eclipse artifacts, including WTP generated manifests
.classpath
.project
MANIFEST.MF

# IDEA artifacts and output dirs
*.iml
*.ipr
*.iws
.idea
dump.rdb
out
test-output
atlassian-ide-plugin.xml
.gradletasknamecache
api-upload.sh
deploy-api.sh
# maven-release-plugin
release.properties
pom.xml.releaseBackup
**/.flattened-pom.xml

/kuaishou-admin-web/node/
/kuaishou-admin-web/node_modules/
/kuaishou-admin-web/src/main/frontend/node_modules/
/kuaishou-admin-web/src/main/frontend/build
LOG_PATH_IS_UNDEFINED
/target-eclipse/
!/kuaishou-admin-web/src/main/frontend/providers/video-js/swf/video-js.swf